<div class="container characterDiv">
    <div class="row justify-content-center">
        <h1 class="text-center animated fadeIn">Choose Your Character</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
            <ul class="charSelect animated fadeIn">
                {{#each characters}}
                <li>
                    <div class="row" data-id={{id}} data-name={{name}} data-level={{level}}>
                        <p class="align-self-center">{{id}}</p>
                        {{#compare class "==" "Wizard"}}
                        <img class="align-self-center" src="/assets/images/NewWizard.png">
                        {{/compare}}
                        {{#compare class "==" "Paladin"}}
                        <img class="align-self-center" src="/assets/images/Paladin.png">
                        {{/compare}}
                        {{#compare class "==" "Rogue"}}
                        <img class="align-self-center" src="/assets/images/Rogue.png">
                        {{/compare}}
                        {{#compare class "==" "Cleric"}}
                        <img class="align-self-center" src="/assets/images/Cleric.png">
                        {{/compare}}
                        <div class="justify-content-center">
                            <p class="text-center">Level: {{level}}</p>
                            <a href="/maze/{{id}}" id="startMaze">{{name}}</a>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>