<div class="container">
    <div class="row justify-content-center">
        <h1 class="text-center">Choose Your Character</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
            <ul class="charSelect">
                {{#each characters}}
                    
                    <li>
                        <div class="row" data-id={{id}} data-name={{name}} data-level={{level}}>
                            <p class="align-self-center">{{id}}</p>
                            {{#compare class "==" "Wizard"}}
                                <img src="/assets/images/NewWizard.png">
                            {{/compare}}
                            {{#compare class "==" "Paladin"}}
                                <img src="/assets/images/Paladin.png">
                            {{/compare}}
                            {{#compare class "==" "Rogue"}}
                                <img src="/assets/images/Rogue.png">
                            {{/compare}}
                            {{#compare class "==" "Cleric"}}
                                <img src="/assets/images/Cleric.png">
                            {{/compare}}

                            <div>
                                <div class="row">
                                    <a href="/maze/{{id}}">{{name}}</a>
                                    <p>Level: {{level}}</p>
                                
                                </div>
                            </div>
                        </div>
                    </li>
                    
                {{/each}}
            </ul>
        </div>
        
    </div>
</div>