<div class="container">
    <h1 class="text-center animated fadeInDown">Fight</h1>
    <div class="row">
        <div class="col-4 combatChar animated fadeInLeft">
            <div class="row justify-content-center">
                <p class="player-name" data-level={{hero.level}}>{{hero.name}}</p>
            </div>
            <div class="row justify-content-center">
                {{#compare hero.class "==" "Wizard"}}
                    <img src="/assets/images/NewWizard.png">
                {{/compare}}
                {{#compare hero.class "==" "Paladin"}}
                    <img src="/assets/images/Paladin.png">
                {{/compare}}
                {{#compare hero.class "==" "Rogue"}}
                    <img src="/assets/images/Rogue.png">
                {{/compare}}
                {{#compare hero.class "==" "Cleric"}}
                    <img src="/assets/images/Cleric.png">
                {{/compare}}
            </div>
            <div class="row justify-content-center">
                <p class="player-health">{{hero.max_health}}</p>
            </div>
        </div>
        <div class="col-4 animated fadeIn">
            <div class="row playerAttacks">
                <ul>
                    {{#compare hero.class "==" "Wizard"}}
                        <button class="melee">Basic Attack</button>
                        <button class="spell">Fireball</button>
                        <button class="spell">Frostbolt</button>
                        
                    {{/compare }}
                    {{#compare hero.class "==" "Paladin"}}
                        
                        <button class="melee">Basic Attack</button>
                        <button class="spell">Judgement</button>
                        <button class="melee">Heaven's Fist</button>
                        
                    {{/compare }}
                    {{#compare hero.class "==" "Rogue"}}
                        <button class="melee">Basic Attack</button>
                        <button class="melee">Shiv</button>
                        
                    {{/compare }}
                    {{#compare hero.class "==" "Cleric"}}
                        <button class="melee">Basic Attack</button>
                        <button class="spell">Holy Fire</button>
                    
                    {{/compare }}

                </ul>
            </div>
            <div class="row">
                <div class="combatText">
                    
                </div>
            </div>
        </div>
        <div class="col-4 combatChar animated fadeInRight">
            <div class="row justify-content-center">
                <p class="enemy-name">{{enemy.name}}</p>
            </div>
            <div class="row justify-content-center">
                <img src="/assets/images/Goblin.png">
            </div>
            <div class="row justify-content-center">
                <p class="enemy-health">{{enemy.health}}</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <a href="/maze/{{id}}" class="storyButton" id="combat-continue" data-id="{{encounter}}"hidden>Continue</a>
    </div>
</div>
    <script src="/assets/js/combatScript.js"></script>