<div class="container">
    <div class="row justify-content-center">
        <h1 class="text-center">Level 1</h1>
    </div>
    <div class="row justify-content-center">
        <div class="mazeDiv">
            <canvas id="enderMaze" width="300" height="300"></canvas>
            <canvas id="mazeFog" width="300" height="300"></canvas>
        </div>
        <div>
            <div class="row justify-content-center">
                <h3 class="text-center">{{hero.name}}</h3>
            </div>
            <div class="row mazeChar" data-id={{character.id}}>
                <div class="col-6">
                    {{#compare hero.class "==" "Wizard"}}
                        <img src="/assets/images/NewWizard.png">
                    {{/compare}}
                    {{#compare hero.class "==" "Paladin"}}
                        <img src="/assets/images/Paladin.png">
                    {{/compare}}
                    {{#compare hero.class "==" "Rogue"}}
                        <img src="/assets/images/Rogue.png">
                    {{/compare}}
                    {{#compare hero.class "==" "Cleric"}}
                        <img src="/assets/images/Cleric.png">
                    {{/compare}}
                </div>
                <div class="col-6">
                    <ul class="mazeStats">
                        <li>Stamina: {{hero.stamina}}</li>
                        <li>Strength: {{hero.strength}}</li>
                        <li>Intellect: {{hero.intellect}}</li>
                        <li>Agility: {{hero.agility}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <a href="/" class="storyButton" id="saveProgress">Save and Quit</a>
        <button class="storyButton" id="stats">Short Rest</button>
        <button class="storyButton" id="equipment">Equipment</button>
    </div>
</div>
<script src="/assets/js/draw.js"></script>